language: python
python:
  - "2.7"
before_install:
 - sudo apt-get install -qq ttf-linux-libertine ttf-droid xfonts-wqy ttf-freefont 
install:
 - pip install slate
 - pip install --pre pdfminer
 - pip install -q Django --use-mirrors
 - pip install -q -e . --use-mirrors
before_script:
 - cp django_pdf/tests/settings.py .
script:
 - django-admin.py test django_pdf --settings=settings
